affine @ file:///home/conda/feedstock_root/build_artifacts/affine_1733762038348/work
albucore==0.0.24
albumentations==2.0.8
annotated-types==0.7.0
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1759755605562/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1756599213019/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
catboost==1.2.8
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1762976168352/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1758716217445/work
cftime @ file:///Users/runner/miniforge3/conda-bld/cftime_1756511937500/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1754767332901/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1747811314515/work
click-plugins @ file:///home/conda/feedstock_root/build_artifacts/click-plugins_1750848229740/work
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1733749956636/work
cloudpickle==3.1.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
coloredlogs==15.0.1
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1756544697172/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1755216263872/work
fiona @ file:///Users/runner/miniforge3/conda-bld/fiona_1733507458907/work
flatbuffers==25.2.10
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1750113804946/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1756328670445/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1756908513222/work
GDAL @ file:///Users/runner/miniforge3/conda-bld/libgdal-core_1759340424737/work/build/swig/python
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1759763141056/work
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1756739656879/work
graphviz @ file:///home/conda/feedstock_root/build_artifacts/python-graphviz_1749998426524/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
h5netcdf @ file:///home/conda/feedstock_root/build_artifacts/h5netcdf_1754419360953/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1756767481709/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
humanfriendly==10.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna==3.10
imageio==2.37.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1756321760188/work
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_kiwisolver_1756467632/work
llvmlite==0.46.0
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1752271512095/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219682943/work
matplotlib==3.10.6
ml_dtypes==0.5.3
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
munkres==1.1.4
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1765893898/work
netCDF4 @ file:///Users/runner/miniforge3/conda-bld/netcdf4_1756899212757/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1749078300/work
numba==0.63.1
numpy==1.26.4
onnx==1.19.0
onnxruntime==1.22.1
onnxslim==0.1.68
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
optree @ file:///Users/runner/miniforge3/conda-bld/optree_1756812153373/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1755779020151/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1756853535842/work
planetary-computer==1.0.0
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1763430243473/work
polars==1.33.1
protobuf==6.32.1
psutil==7.0.0
py-cpuinfo==9.0.0
pybind11 @ file:///D:/bld/bld/rattler-build_pybind11_1755953378/work
pybind11-global @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pybind11-global_1755953338/work
pycocotools @ file:///Users/runner/miniforge3/conda-bld/pycocotools_1749103887321/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.11.9
pydantic_core==2.33.2
pyogrio @ file:///Users/runner/miniforge3/conda-bld/pyogrio_1746734618739/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1757767060/work
pyproj @ file:///Users/runner/miniforge3/conda-bld/pyproj_1756536548349/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pystac==1.14.1
pystac-client==0.9.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv==1.1.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML==6.0.2
rasterio @ file:///Users/runner/miniforge3/conda-bld/rasterio_1742428651474/work
referencing==0.36.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
rioxarray @ file:///home/conda/feedstock_root/build_artifacts/rioxarray_1745316908994/work
rpds-py==0.27.1
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1757406267542/work/dist/scikit_learn-1.7.2-cp311-cp311-macosx_11_0_arm64.whl#sha256=be1d073413d60068c52888d02c5df80d5da03aa0e2552ea4464fa24184ff0cfc
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1733620602297/work/dist/scipy-1.14.1-cp311-cp311-macosx_11_0_arm64.whl#sha256=8a6eedebfa04e8788bfee383e7d4b950e61ca2ce0e9137396ef3281f46b2524a
seaborn==0.13.2
shap==0.50.0
shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1758735369325/work
simsimd==6.5.3
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
slicer==0.0.8
snuggs @ file:///home/conda/feedstock_root/build_artifacts/snuggs_1733818638588/work
stringzilla==4.0.7
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1733589744265/work
thop==0.1.1.post2209072238
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
torch==2.8.0
torchaudio @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_torchaudio_1755748892/work
torchcodec @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_torchcodec_1757489107/work
torchvision==0.23.0
torchvision-extra-decoders @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_torchvision-extra-decoders_1748570945/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1756854903207/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
typing-inspection==0.4.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
ultralytics==8.3.200
ultralytics-thop==2.0.17
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1756494537241/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1722348170975/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1745598038694/work
zstandard==0.25.0
